<div class="modal fade" id="chatModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chat con <span id="chatNombre"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <ul id="mensajesLista" class="list-unstyled"></ul>
            </div>
            <div class="modal-footer">
                <input type="text" id="mensajeInput" class="form-control" placeholder="Escribe tu mensaje...">
                <button class="btn btn-primary" id="enviarBtn">Enviar</button>
            </div>
        </div>
    </div>
</div>
